* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    
    /* align items: center makes navlinks align to the center of our brandname which 
    will be larger in size */
    align-items: center;
    background-color: #0a9396;
    color: white;
}

/* style brand title */
.brand-title {
    font-size: 2rem;
    margin: .5rem;
}

/*Style navbar link */
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex; /*puts elements side by side*/
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block; /*give them more space*/
}

.navbar-links li:hover{
    background-color: #a8dadc;
}

.toggle-button {
    position: absolute; /*so that we can force to be on the right
    without messing with the flow of our document */
    top: .75rem;
    right: 1rem;
    display: none; /*does not display by default
    because we want it to show on smaller screens only*/
    flex-direction: column; /*content line up from top to bottom*/
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*if screen is less that 600px wide, run the code inside the 
media query*/
@media (max-width: 600px){
    .toggle-button{
        display: flex; /*so that it can show up*/
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start; /*makes brand name go to top left*/

    }
    .navbar-links ul {
        width: 100%; /*makes the ul span the entire length of the screen*/
        flex-direction: column;
        
    }
    .navbar-links li {
        text-align: center;
    }

    .navbar-links a {
        padding: .5rem 1rem;
    }

    /* Use and active class to determine whether the navbar
    should be showing on small screens or not*/
    .navbar-links.active{
        display: flex;
    }
}